#op-square-loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #4caf50;
    z-index: 9999;
}
#op-square-loading-content{
    width: 50%;
    height: 250px;
    margin: 20% auto;
    background: #fff;
    text-align: center;
    position: relative;
}
.op-square-msg{
    padding: 20px 0 0 0;
}
.op-square-close{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background: red;
    color: #fff;
    width: 150px;
    border-radius: 5px;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 75px);
    padding: 5px;
    border: solid 1px red;

}
.voucher-table{
    width: 100%;
    
}